* {
  box-sizing: border-box;
}

:root {
  --bg-black: #1a1a1a;
  --bg-black-0f: #0f0f0f;
  --bg-black-2a: #2a2a2a;
  --bg-black-33: #333;
  --bg-black-3a: #3a3a3a;
  --bg-black-44: #444;
  --bg-white: #ffffff;
  --bg-blue: #0000ff;
  --bg-pink: #ff00DD;
  --bg-red: #ff0000;
  --bg-msgrey: #c6c6c6;
  --bg-msteal: teal;
  --bg-greygreen: rgb(112, 121, 110);

  --fg-grey-aa: #aaa;
  --fg-white: #fafafa;
  --fg-white-on-blue: #fafafa;
  --fg-white-on-red: #fafafa;
  --fg-white-on-grey: #fafafa;
  --fg-white-cc: #ccc;
  --fg-white-ee: #eee;
  --fg-black-on-pink: #000;
  --fg-peach: #ffaaaa;

  --txt-shadow-blue: 2px 2px #0000ff;

  --border-inset-grey: 3px inset #c6c6c6;
  --border-outset-grey: 3px outset #c6c6c6;
  --border-solid-grey: 1px solid #333;
  --border-solid-white: white 1px solid;
  --border-white-dash: white 1px dashed;

  @media (prefers-color-scheme: light) {
    --bg-black: #fafafa;
    --bg-black-0f: #e0e0e0;
    --bg-black-2a: #c5c5c5;
    --bg-black-33: #ccc;
    --bg-black-3a: #b5b5b5;
    --bg-black-44: #bbb;

    --bg-pink: #ffAAFF;
    --bg-blue: teal;
    --bg-red: #ffff00;

    --fg-grey-aa: #555;
    --fg-white: #0000ff;
    --fg-white-on-blue: #fafafa;
    --fg-white-on-red: #0000ff;
    --fg-white-on-grey: #fafafa;
    --fg-white-cc: #333;
    --fg-white-ee: #11a;

    --txt-shadow-blue: 1px 1px #ff66ff;

    --border-solid-grey: 1px solid #ccc;
    --border-solid-white: 1px solid blue;
    --border-white-dash: #0000ff 1px dashed;
  }
}

html, body {
  background: #c0c0c0;
}

body {
  margin: 0;
  color: var(--fg-white);
  font-family: monospace;
  height: 100%;
  max-height: 100dvh;
  background: #c0c0c0;
  padding: 4px;

  display: grid;
  grid-gap: 2px;
}

#loader {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background: var(--bg-msgrey);
  height: calc(100dvh - 20px - 24px - 2px);

  & > svg { border: var(--border-inset-grey) }
  & > p {
    color: black;
    text-shadow: white 2px 2px;
    font-size: 30px;
    font-weight: 700;
  }
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 20px;
  align-items: center;
  background: var(--bg-blue);
  color: var(--fg-white-on-blue);
  padding: 8px 8px 8px 13px;

  & > h1 {
    font-size: 14px;
    margin: 0;
    line-height: 1;
  }
}

#buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  grid-auto-flow: column;

  & > button {
    padding: 2px 8px 2px;
    border-radius: 0;
    font-family: monospace;
  }
}

.main-content {
  display: grid;
  background: var(--bg-black);
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.sidebar, .config-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.config, .navigation {
  height: 100%;
}


.layout-wide {
  width: 100%;

  .toolbar {
    grid-column: span 3;
  }

  .main-content {
    min-height: 0;
  }

  .sidebar, .config-container {
    overflow-y: auto;
  }

  .config-container {
    border-left: var(--border-solid-grey);
    border-left-width: 1px;
  }
}

.layout-narrow {
  .main-content {
    width: 100%;
    order: 1;
  }

  .sidebar, .config-container {
    display: none;
    overflow-y: auto;
    order: 2;
    border-top: var(--border-solid-grey);
    border-top-width: 1px;
    height: 50dvh;
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
  }
}

canvas {
  display: block;
  background: black;
  max-width: 100%;
  max-height: 100%;
}
