/**
 * @import { E } from '{{IMPORT_DEPTH}}prelude-type.ts';
 * @import { State, Config } from './type.ts';
 */

import * as prelude from '{{SECTION_IMPORT_DEPTH}}prelude.js';
import { doc } from '{{IMPORT_DEPTH}}prelude.js';

// Export your table functions here
